---
name: CI ROS images

on:
  pull_request:
    paths:
    - '.ci/**'
    - '.github/workflows/ros_ci.yaml'
    - 'ros/rolling/**'
    - 'ros/galactic/**'
    - 'ros/foxy/**'
    - 'ros/eloquent/**'
    - 'ros/dashing/**'
    # - 'ros/noetic/**'
    - 'ros/melodic/**'
    - 'ros/kinetic/**'
  push:
    paths:
    - '.ci/**'
    - '.github/workflows/ros_ci.yaml'
    - 'ros/rolling/**'
    - 'ros/galactic/**'
    - 'ros/foxy/**'
    - 'ros/eloquent/**'
    - 'ros/dashing/**'
    # - 'ros/noetic/**'
    - 'ros/melodic/**'
    - 'ros/kinetic/**'
  schedule:
    # Trigger daily to check for upstream changes
    - cron: '0 0 * * *'
jobs:
  check_images:
    strategy:
      fail-fast: false
      matrix:
        env:
          - {HUB_REPO: ros, HUB_RELEASE: rolling, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: focal}
          - {HUB_REPO: ros, HUB_RELEASE: galactic, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: focal}
          - {HUB_REPO: ros, HUB_RELEASE: foxy, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: focal}
          - {HUB_REPO: ros, HUB_RELEASE: eloquent, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: bionic}
          - {HUB_REPO: ros, HUB_RELEASE: dashing, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: bionic}
          # - {HUB_REPO: ros, HUB_RELEASE: noetic, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: focal}
          # - {HUB_REPO: ros, HUB_RELEASE: noetic, HUB_OS_NAME: debian, HUB_OS_CODE_NAME: buster}
          - {HUB_REPO: ros, HUB_RELEASE: melodic, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: bionic}
          - {HUB_REPO: ros, HUB_RELEASE: melodic, HUB_OS_NAME: debian, HUB_OS_CODE_NAME: stretch}
          - {HUB_REPO: ros, HUB_RELEASE: kinetic, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: xenial}
    runs-on: ubuntu-latest
    env:
      GITHUBEMAIL: ${{ secrets.GITHUBEMAIL }}
      GITHUBTOKEN: ${{ secrets.GITHUBTOKEN }}
      GITHUBUSER: ${{ secrets.GITHUBUSER }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: 3.x
      - name: Install requirements
        run: |
             python -m pip install --upgrade pip
             pip install -r docker/requirements.txt
             pip install -r .ci/requirements.txt
      - name: Check and build ROS image
        env: ${{matrix.env}}
        run: .ci/ci_script.py
