---
name: CI ROS images

on:
  pull_request:
    paths:
    - '.ci/**'
    - '.github/workflows/ros_ci.yaml'
    - 'ros/rolling/**'
    - 'ros/humble/**'
    - 'ros/foxy/**'
    - 'ros/noetic/**'
    - 'ros/melodic/**'
  push:
    paths:
    - '.ci/**'
    - '.github/workflows/ros_ci.yaml'
    - 'ros/rolling/**'
    - 'ros/humble/**'
    - 'ros/foxy/**'
    - 'ros/noetic/**'
    - 'ros/melodic/**'
  schedule:
    # Trigger daily to check for upstream changes
    - cron: '0 0 * * *'
jobs:
  check_images:
    strategy:
      fail-fast: false
      matrix:
        env:
          - {HUB_REPO: ros, HUB_RELEASE: rolling, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: jammy}
          - {HUB_REPO: ros, HUB_RELEASE: humble, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: jammy}
          - {HUB_REPO: ros, HUB_RELEASE: foxy, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: focal}
          - {HUB_REPO: ros, HUB_RELEASE: noetic, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: focal}
          - {HUB_REPO: ros, HUB_RELEASE: noetic, HUB_OS_NAME: debian, HUB_OS_CODE_NAME: buster}
          - {HUB_REPO: ros, HUB_RELEASE: melodic, HUB_OS_NAME: ubuntu, HUB_OS_CODE_NAME: bionic}
    runs-on: ubuntu-latest
    env:
      GITHUBEMAIL: ${{ secrets.GITHUBEMAIL }}
      GITHUBTOKEN: ${{ secrets.GITHUBTOKEN }}
      GITHUBUSER: ${{ secrets.GITHUBUSER }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.4.0
        with:
          python-version: 3.x
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'
      - name: Install requirements
        run: |
             pip install -r docker/requirements.txt
             pip install -r .ci/requirements.txt
      - name: Check and build ROS image
        env: ${{matrix.env}}
        run: .ci/ci_script.py
      - name: Set up Docker Buildx
        if: github.ref == 'refs/heads/master'
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Check and build ROS image
        if: github.ref == 'refs/heads/master'
        env: ${{matrix.env}}
        run: |
          cd $HUB_REPO/$HUB_RELEASE/$HUB_OS_NAME/$HUB_OS_CODE_NAME
          make ci_buildx
