---
name: CRON Trigger devel images

on:
  schedule:
  - cron:  '0 3 * * *'
  push:
    branches:
    - master
    paths:
    - '.github/workflows/trigger_devel.yaml'
    - 'ros2/source/**'
jobs:
  source_build:
    name: Trigger devel image
    env:
      dockerTag: ${{ 'devel' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Call devel webhook
      run: |
        curl -H "Content-Type: application/json" --data '{"docker_tag": "${{env.dockerTag}}"}'  -X POST ${{ secrets.DOCKER_ROS2_POST_PUSH_TRIGGER }}
